@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  display: block;
  align-items: center;
  justify-content: center;
  min-height: 90vh;

}
a {
  text-decoration: none;
  text-transform: none;
  color: var(--accent);
  color: var(--accent-foreground);
}

@layer base {
  /* :root {
    --background: bg-black;
    --foreground: bg-white;
    --card: bg-slate-50;
    --card-foreground: bg-white ;
    --popover:bg-slate-50;
    --popover-foreground:  slate-800;
    --primary: bg-gray-900;
    --primary-foreground: grey-50;
    --secondary: bg-gray-100;
    --secondary-foreground: gray-900;
    --muted: bg-neutral-700;
    --muted-foreground: bg-neutral-300;
    --accent: slate-500;
    --accent-foreground: grey-900;
    --destructive: bg-red-500;
    --destructive-foreground: slate-50;
    --border: slate-900;
    --input: bg-white;
    --ring: currentColor;
    --chart-1: bg-orange-800;
    --chart-2: bg-red-800;
    --chart-3: bg-cyan-900;
    --chart-4: bg-sky-900;
    --chart-5: bg-emerald-800;
    --chart-5: bg-emerald-800;
    --radius: 0.5rem;
  }
} */
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
} */
}

/* @layer base {
  * {
    border: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);

  }

}
@layer components {

} */
